/*
 * Variables
 * ----------- */
/*
 *  Styles
 */
.wrapper {
  padding-top: 1em; }

.backstretch img {
  opacity: 0.2;
  filter: alpha(opacity=20); }

.inner {
  display: flex;
  flex-direction: column; }

hr {
  border-top: 2px solid #fff;
  border-bottom: 2px dotted #dda6ed;
  opacity: .6; }

a:hover,
a:active,
a:focus {
  color: #cc7ce4; }

h1,
h2,
h3,
h4 {
  font-family: "Oswald";
  letter-spacing: 0px; }

p {
  font-size: 125%;
  color: #4d4d4d; }
  p a {
    font-weight: 700;
    color: #c466e0; }
  p a:hover {
    color: #aa2ad0; }

.page-header {
  background-color: red; }

.subheader {
  color: #761d90;
  font-size: 225%;
  opacity: .7; }

.signup .email {
  background-color: #fff;
  opacity: .8; }

.disclaimer {
  font-size: 95%;
  font-style: italic; }

/*
 * Media queries
 * -------------- */
@media only screen and (min-width: 768px) {
  .wrapper {
    padding-top: 8em;
    /* debug */ }
  .inner {
    padding: 0 50px; } }
