/*
 * Variables
 * ----------- */
$maincolor: #aa2ad0;
$lightcolor: #dc9af2;

/*
 *  Styles
 */

.wrapper {
  padding-top: 1em;
}

.backstretch img {
  opacity: 0.2;
  filter: alpha(opacity=20);
}

.inner {
  display: flex;
  flex-direction: column;
}

hr {
  border-top: 2px solid #fff;
  border-bottom: 2px dotted lighten($maincolor, 30%);
  opacity: .6;
}

a:hover,
a:active,
a:focus {
  color: lighten($maincolor, 20%);
}

h1,
h2,
h3,
h4 {
  font-family: "Oswald";
  letter-spacing: 0px;
}

p {
  font-size: 125%;
  color: darken(gray, 20%);

  a {
    font-weight: 700;
    color: lighten($maincolor, 15%);
  }

  a:hover {
    color: $maincolor;
  }
}

.page-header {
  background-color: red;
}

.subheader {
  color: darken($maincolor, 15%);
  font-size: 225%;
  opacity: .7;
}

.signup .email {
  background-color: #fff;
  opacity: .8;
}

.disclaimer {
  font-size: 95%;
  font-style: italic;
}

/*
 * Media queries
 * -------------- */

@media only screen and (min-width: 768px)  {

  .wrapper {
    padding-top: 8em; /* debug */
  }

  .inner {
    padding: 0 50px;
  }
}
